.accordion-wrapper {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.accordion-item {
  transition: 0.4s ease-in-out;
}

.accordion-item-title {
  padding: 1rem;
  width: 100%;
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  padding-right: 3rem;
  display: flex;
  align-items: center;
  transition: border-radius 0.4s ease-in-out;

}

.accordion-item:first-of-type:not(.active) .accordion-item-title{
  border-radius: 0.25rem 0.25rem 0 0;
}

.accordion-item:last-of-type:not(.active) .accordion-item-title{
  border-radius: 0 0 0.25rem 0.25rem;
}

.accordion-item-title:hover {
  background-color: #fafafa;
}

.accordion-item-expand {
  position: absolute;
  right: 1rem;
  pointer-events: none;
  transition: 0.4s ease-in-out;
  width: 1.5rem;
  height: 1.5rem;
}

.accordion-item-content {
  padding: 0 1rem;
  max-height: 0;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  overflow-y: auto;
}

.accordion-item.active {
  padding-bottom: 1rem;
}

.accordion-item.active .accordion-item-content {
  padding: 1rem 1rem 0 1rem;
  max-height: 10rem;
}

.accordion-item.active .accordion-item-expand {
  transform: rotate(180deg);
}

.accordion-item:not(:first-of-type) {
  border-top: 1px solid #ccc;
}
