body {
  background-color: black;
  padding: 2rem;
}

h1 {
  color: whitesmoke;
}

ul {
}

ul li {
}

ul li a {
  color: silver;
  display: block;
  padding: 0.5rem 1rem;
  transition: 0.4s ease-in-out;
}

ul li a:hover {
  color: whitesmoke;
  padding-left: 2rem;
}
