header {
  padding: 4rem;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100vw;
  transition: 0.4s ease-in-out;
}

header.active{
  padding: 2rem;
  background-color: #111111;
  color: #eeeeee;
  box-shadow: 0 1rem 2rem -1rem #000;
}

.box {
  height: 30vh;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}
