.tabs {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  overflow: hidden;
}

.tabs-navigation {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.tabs-navigation button {
  border: none;
  outline: none;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-weight: bold;
  cursor: pointer;
}

.tabs-navigation button.active {
  background-color: #eee;
}

.tabs-navigation button:hover {
  background-color: #fafafa;
}

.tabs-container > div {
  padding: 1rem;
  display: none;
}

.tabs-container > div.active {
  display: block;
}
