.imageshow-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000e;
  opacity: 0;
  transition: 0.4s ease-in-out;
  pointer-events: none;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageshow-backdrop.active {
  opacity: 1;
  pointer-events: all;
}

.imageshow-backdrop img {
  transition: 1s ease-in-out;
  opacity: 0;
  transform: translateY(10%);
}

.imageshow-backdrop.active img {
  opacity: 1;
  transform: translateY(0%);
  max-width: 100vw;
  max-height: 100vh;
  object-fit: cover;
}

.imageshow-close {
  position: absolute;
  cursor: pointer;
  padding: 0.5rem 1rem;
  right: 3rem;
  top: 3rem;
  transition: transform 1.5s ease-in-out, opacity 1.5s ease-in-out, background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
  opacity: 0;
  transform: translateX(100%);
  color: #eee;
  z-index: 10;
}

.imageshow-close:hover {
  background-color: #eee;
  color: #222;
}

.imageshow-backdrop.active .imageshow-close {
  opacity: 1;
  transform: translateX(0%);
}
